@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;500;600;700&display=swap');

* {
  padding: 0;
  margin: 0;
  font-family: 'Barlow', sans-serif;
}

header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0em 7em 2em 7em;
}

header div {
  margin-top: 2em;
}

header div p {
  color: rgba(0, 0, 0, 0.500);
  font-weight: 500;
}

header label {
  display: flex;
  align-items: center;
}

header section {
  display: flex;
  align-items: center;
  gap: 1em;
}

.firstcontainer {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 50px;
  margin: 3em 6em 3em 6em;
}

#fb {
  border-top: 5px solid #1877f2;
}

#tw {
  border-top: 5px solid #1DA1F2;
}

#ig {
  border-top: 5px solid rgba(238,172,74,1);
}

#yt {
  border-top: 5px solid #e90001;
}

.data {
  border-radius: 5px;
  width: 15em;
  height: 13em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.2em;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.icon-user{
  display: flex;
  gap: 5%;
}

.icon-user p {
  color: rgba(0, 0, 0, 0.777);
}

.icon-user img{
  display: flex;
  justify-self: center;
  align-self: center;
}

.followers {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.followers h1 {
  font-size: 4em;
}

.followers p {
  letter-spacing: 4pt;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.370);
  
}


.secondcontainer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 50px;
}

.secondcontainer .overview h1 {
  margin-left: 4.5em;
}

.recuadro {
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1em;
  width: 13em;
  height: 6em;
  margin-bottom: 2em;
}

.activity {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.activity p {
  font-weight: 600;
  color: rgba(0, 0, 0, 0.500);
}

.cuadroscontainer {
  display: flex;
  flex-wrap: wrap;
  margin: 0em 6.8em 3em 6.8em;
  justify-content: space-between;
}

/* DARK MODE */

.BackgroundDark {
  background-color: #212331;
}

.whiteLetters {
  color: white;
}

.letterOpacityMin {
  color: rgba(255, 255, 255, 0.750);
}

.letterOpacityMax p {
  color: rgba(255, 255, 255, 0.650);
}

.dataDark {
  border-radius: 5px;
  width: 15em;
  height: 13em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.2em;
  background-color: #242a43;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.nombre p {
  color: #757fa3;
}

.recuadroDark {
  background-color: #242a43;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1em;
  width: 13em;
  height: 6em;
  margin-bottom: 2em;
}

.recuadroDark p {
  color: rgba(255, 255, 255, 0.750);
}



/*/////////////////////////////////////////////////////////////////////////////////////////////////////*/
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: #2c2d4d;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background: rgb(68,127,179);
  background: linear-gradient(62deg, rgba(68,127,179,1) 0%, rgba(67,207,146,1) 100%);
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}